<section class="buy_sell">
  <span><img src="https://img.icons8.com/cotton/25/000000/buy-with-card.png"/>BUY</span>
  <span><img src="https://img.icons8.com/color/25/000000/sell.png"/>SELL</span>
</section>
<section class="banner__slider">
  <div class="slider stick-dots">
    <div class="slide">
      <div class="slide__img">
        <img src="" alt="" data-lazy="../../../assets/img/shutterstock_659331043.jpg" class="full-image animated" data-animation-in="zoomOutImage"/>
      </div>
      <div class="slide__content slide__content__right">
        <div class="slide__content--headings text-right">
					<p class="animated top-title" data-animation-in="animate__fadeInLeftBig" >Wish you have good furinture at our</p>
           <h2 class="animated title" data-animation-in="animate__fadeInLeftBig">Experience the furinture</h2>
           <button class="btn-light btn button-custom animated" data-animation-in="fadeInUp">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="" alt="" data-lazy="https://www.tribu.com/sites/default/files/styles/header_l/public/billboard/3_2020_09_16_tribu_portugal6794.jpg?itok=Rpa3cCfF&timestamp=1608208481" class="full-image animated" data-animation-in="zoomInImage"/>
      </div>
      <div class="slide__content ">
        <div class="slide__content--headings text-center">

           <p class="animated top-title" data-animation-in="animate__backInRight">Welcome to 3afshak Brand</p>
					<h2 class="animated title" data-animation-in="animate__backInRight">Let Enjoy The Decor of Beds</h2>
					<button class="btn-light btn button-custom animated" data-animation-in="fadeInUp">Our Beds</button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="" alt="" data-lazy="https://www.behryourbackgrounds.com/images/bg/Bedroom_Graphic-Charcoal-N500-6.jpg" class="full-image animated" data-animation-in="zoomOutImage"/>
      </div>
      <div class="slide__content slide__content__right">
        <div class="slide__content--headings text-right">
					<p class="animated top-title" data-animation-in="animate__fadeInLeftBig" >Wish you have good furinture at our</p>
           <h2 class="animated title" data-animation-in="animate__fadeInLeftBig">Experience the furinture</h2>
           <button class="btn-light btn button-custom animated" data-animation-in="fadeInUp">Sell Now</button>
        </div>
      </div>
    </div>
		<div class="slide">
      <div class="slide__img">
        <img src="" alt="" data-lazy="https://www.hants.gov.uk/-/media/Images/wasteandrecycling/loveyourfurniture/loveyourplanet-banner.jpg" class="full-image animated" data-animation-in="zoomInImage"/>
      </div>
      <div class="slide__content slide__content__left">
        <div class="slide__content--headings text-left">
					<p class="animated top-title" data-animation-in="animate__fadeInLeftBig">Purchase today. just $76</p>
           <h2 class="animated title" data-animation-in="animate__fadeInLeftBig">SUPER DEAL OFFER</h2>
           <button class="btn-light btn button-custom animated" data-animation-in="fadeInUp">Today's List</button>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="" alt="" data-lazy="https://images2.alphacoders.com/190/190220.jpg" class="full-image animated" data-animation-in="zoomOutImage"/>
      </div>
      <div class="slide__content slide__content__right">
        <div class="slide__content--headings text-right">
					<p class="animated top-title" data-animation-in="animate__fadeInLeftBig" >Wish you have good furinture at our brand</p>
           <h2 class="animated title" data-animation-in="animate__fadeInLeftBig">Experience the furinture</h2>
           <button class="btn-light btn button-custom animated" data-animation-in="fadeInUp">Order Now</button>
        </div>
      </div>
    </div>
  </div>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
        <circle r="20" cy="22" cx="22" id="test"></circle>
    </symbol>
</svg>
</section>
<app-accordionslider></app-accordionslider>
<!--explore best furniture-->
<section class="hero">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 left">
      <h1 data-aos="fade-down">Explore <br> Best Furniture</h1>
      <p data-aos="fade-right">
        <b style="font-family: 'Playfair Display', serif;color:black">3AFSHAK</b> is an online marketplace for pre-owned furniture that’s made to last. Whether hunting for the perfect piece, or creating space for something new, Kaiyo makes it easy to make a better choice—for you, for your home, for our home planet.
      </p>
      <button type="button" class="btn btn-dark"> How it works <img src="https://img.icons8.com/officexs/30/000000/circled-right.png"/></button>

      <ul>
        <li class="btn btn_li active"></li>
        <li class="btn btn_li"></li>
        <li class="btn btn_li"></li>
      </ul>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 right">
      <img src="https://thesourcehk.com/cms/wp-content/uploads/showrooms/b&b2/THE_SOURCE_must_go_showroom_B&B%20Italia_05_full.jpg" alt="" id="banner">
    </div>
  </div>
</section>
<hr>
<!--last arrival-->
<section class="last-arrival">
  <div class="container title">
    <h1 data-aos="fade-up">Latest Arrivals</h1>
  </div>
  <div class="container">
    <div class="row cards">
      <div data-aos="fade-right" class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://www.archiproducts.com/images/category-b/779@1x.jpg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-right" class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://images-na.ssl-images-amazon.com/images/I/81Ny0krSX5L._AC_SL1500_.jpg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-left" class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://i.pinimg.com/originals/6d/8a/d6/6d8ad63af2f5d182d6d5533b20c04b4d.jpg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://cdn.leggett.com/leggett/furnishings-current_1500x1000_cm.jpg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://i5.walmartimages.com/asr/9459c357-dbe6-44f9-b98a-2ed653ad2875.3bb3232b3c4f35e32803f9d3db9bf2b2.jpeg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://i.pinimg.com/originals/06/a2/94/06a294a4948ace3b13321fc010ce6d89.jpg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-12">
        <div class="d-flex w-80">
          <div class="card">
            <div class="product neumorphic ridge">
              <img class="heart" src="https://img.icons8.com/windows/32/000000/-chair--v1.png"/>
              <div class="product-image"><img src="https://i.pinimg.com/originals/06/a2/94/06a294a4948ace3b13321fc010ce6d89.jpg" alt="Plant 1"/></div>
              <div class="cart">
                <h6>Hickory Chair Queen Anne Wing Back Chair</h6>
                <div class="price float-left">₱50</div>
                <img src="https://img.icons8.com/officel/48/000000/shopping-basket.png" title="Add to cart" />
                <img src="https://img.icons8.com/cotton/48/000000/express-shopping--v2.png" title="Shop Now" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<!--What we do-->
<section class="hero hero2">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12 right">
      <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/Articles/best-furniture-for-your-home-section-1.jpg" alt="" id="banner">
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 left">
      <h1 data-aos="fade-down">WHAT WE DO?</h1>
      <p data-aos="fade-right">
        <b style="font-family: 'Playfair Display', serif;color:black">3AFSHAK</b> is an online marketplace for pre-owned furniture that’s made to last. Whether hunting for the perfect piece, or creating space for something new, Kaiyo makes it easy to make a better choice—for you, for your home, for our home planet.
      </p>
      <button type="button" class="btn btn-dark"> Explore More <img src="https://img.icons8.com/officexs/30/000000/circled-right.png"/></button>
    </div>

  </div>
</section>
<hr>
<section class="featured">
  <div class="container title">
    <h1 data-aos="fade-up">PRODUCTS</h1>
  </div>
  <div class="container">
    <div class="row all">
      <div data-aos="fade-right" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div data-aos="fade-down" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div  data-aos="fade-down" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div data-aos="fade-left" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div data-aos="fade-right" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div data-aos="fade-up" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div data-aos="fade-up" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
      <div data-aos="fade-left" class="col-md-3 col-sm-6">
        <div class="fcards">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Small Turn of the Century Drafting Table</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>ADD TO CART</span>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<!--Seel and buy steps-->
<section class="steps container">
  <div class="row">
    <div class="title col-md-12">
      <h1 data-aos="fade-up">Sell & Buy in 3 Easy Steps</h1>
    </div>
  </div>

  <div class="row">
    <div  data-aos="fade-right" class="col-md-6 col-sm-12 left">
      <div class="sell">
        <ul>
          <li class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/dotty/60/5D759B/edit-property.png" alt="">
            </div>
            <div class="col-md-9">
              <span>List an Item</span><br>
              <p>Upload the photos of your item with details. Your listing gets published after our selection team's review.</p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/dotty/60/5D759B/drop-shipping--v2.png" alt="">
            </div>
            <div class="col-md-9">
              <span>We Pick up the Item From Your Door</span><br>
              <p>Our professional delivery team picks up the item from your home. Don't even think about dealing with packaging and assembly either, our professional team got you covered!</p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/60/5D759B/cash-on-delivery.png" alt="">
            </div>
            <div class="col-md-9">
              <span> Get paid! </span><br>
              <p>You'll receive your money 48 hours after the buyer receives the item.</p>
            </div>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-light">SELL NOW <img src="https://img.icons8.com/bubbles/40/000000/circled-right.png"/> </button>
    </div>
    <div data-aos="fade-left" class="col-md-6 col-sm-12 right">
      <div class="buy">
        <ul>
          <li class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/material/60/5D759B/list--v1.png" alt="">
            </div>
            <div class="col-md-9">
              <span> Discover an Item </span><br>
              <p>Begin exploring your next unique furniture piece among thousands of products.</p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/dotty/60/5D759B/drop-shipping--v2.png" alt="">
            </div>
            <div class="col-md-9">
              <span> Pay Online & Get Its' Space Ready! </span><br>
              <p>Our customer care agent gets in touch to find out the best suitable time for you. With our door-to-door shipping and assembly service, you don't have to worry about anything!</p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/metro/60/5D759B/like.png" alt="">
            </div>
            <div class="col-md-9">
              <span>  3afshak's Team Delivers To Your Door  </span><br>
              <p>
                Now all you have to do is enjoy! Oh! In case the item doesn’t meet your expectations, you can return the item within 48 hours. Shopping online is simpler, wouldn't you agree?</p>
            </div>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-light">BUY NOW <img src="https://img.icons8.com/bubbles/40/000000/circled-right.png"/> </button>
    </div>
  </div>

</section>

<!-- Curated collections
<section class="accurated">
  <div class="container title">
    <h1 data-aos="fade-up">Curated Collections</h1>
  </div>
  <div class="container">
    <div class="row">
      <div data-aos="fade-right" class="col-md-4 col-sm-12">
        <figure class="snip1543"><img src="https://www.mccourier.com/wp-content/uploads/2021/03/Bedroom-Furniture.jpg" alt="sample101" />
          <figcaption>
            <h3>Bedroom Furniture</h3>
            <p>We’re going to give you the 101 on how to style vintage furniture and how to style pre-owned furniture! </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div data-aos="fade-down" class="col-md-4 col-sm-12">
        <figure class="snip1543"><img src="https://www.juddbuilders.com/juddbuildersblog/wp-content/uploads/2018/10/GlenLoch-23-blog.jpg" alt="sample101" />
          <figcaption>
            <h3>Living Room Furniture</h3>
            <p>We’re going to give you the 101 on how to style vintage furniture and how to style pre-owned furniture! </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div data-aos="fade-left" class="col-md-4 col-sm-12">
        <figure class="snip1543"><img src="https://images.squarespace-cdn.com/content/v1/571216d0044262398e3de803/1460977371425-EBS0L8E8WSZJQ820PKC1/ke17ZwdGBToddI8pDm48kOeTq7zHTJC7cn2X_JwS9kV7gQa3H78H3Y0txjaiv_0fBvivNZK_6JPv8QJncOi2GX6VvDsgFG_DdZzuBGf21H4sAsNUJTJskTY99hJxEcVyOqpeNLcJ80NK65_fV7S1USs5dGjyyXr89EtJToD8xqVkdXH5HNJxcZomdQt0g1_s0scVHb0s5G6b7dBthyie1A/designer-furniture-shop-egypt-13.jpg?format=2500w" alt="sample101" />
          <figcaption>
            <h3>Lighting Furniture</h3>
            <p>We’re going to give you the 101 on how to style vintage furniture and how to style pre-owned furniture! </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div data-aos="fade-right" class="col-md-4 col-sm-12">
        <figure class="snip1543"><img src="https://www.extraspace.com/blog/wp-content/uploads/2018/02/Living-Room-Organization-Use-Storage-Bins-And-Totes.jpg" alt="sample101" />
          <figcaption>
            <h3>Storage & Organization</h3>
            <p>We’re going to give you the 101 on how to style vintage furniture and how to style pre-owned furniture! </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div data-aos="fade-up" class="col-md-4 col-sm-12">
        <figure class="snip1543"><img src="https://www.lumens.com/on/demandware.static/-/Sites-Lumens-Library/default/dwded79bfb/images/ideas-advice/best-bets/holiday-gift-guide-staff-picks/holiday-gift-guide-staff-picks-header.jpg" alt="sample101" />
          <figcaption>
            <h3>Staff Picks</h3>
            <p>We’re going to give you the 101 on how to style vintage furniture and how to style pre-owned furniture! </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div data-aos="fade-left" class="col-md-4 col-sm-12">
        <figure class="snip1543"><img src="https://images-na.ssl-images-amazon.com/images/I/819sKFmXNEL._AC_SL1500_.jpg" alt="sample101" />
          <figcaption>
            <h3>Children Room Furniture</h3>
            <p>We’re going to give you the 101 on how to style vintage furniture and how to style pre-owned furniture! </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
</section>
-->
<hr>
<!--What we offer
<section class="hero hero2">
  <div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12 left">
      <h1 data-aos="fade-down">WHAT WE OFFER?</h1>
      <h2 data-aos="fade-right" id="text">

      </h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 right">
      <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/Articles/best-furniture-for-your-home-section-1.jpg" alt="" id="banner1">
    </div>
  </div>
</section>
-->
<section class="offer">
  <div class="container title">
    <h1 data-aos="fade-up">WHAT WE OFFER</h1>
  </div>
  <div class="offercard page-content container">
    <div>
      <div class="d_card one">
        <div class="content">
          <h2 class="heading">Secure Payment</h2>
          <p class="data-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
      </div>
    </div>
    <div>
      <div class="d_card two">
        <div class="content">
          <h2 class="heading">Delivery & Assembly Service</h2>
          <p class="data-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
      </div>
    </div>
    <div>
      <div class="d_card three">
        <div class="content">
          <h2 class="heading">3afshak Rating</h2>
          <p class="data-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
      </div>
    </div>
    <div>
      <div class="d_card four">
        <div class="content">
          <h2 class="heading">No Strangers</h2>
          <p class="data-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
      </div>
    </div>
    <div>
      <div class="d_card five">
        <div class="content">
          <h2 class="heading">Curated & Unique Pieces</h2>
          <p class="data-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
      </div>
    </div>
  </div>
</section>
