<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>COFFEE TABLES</h2>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>CHAIRS</h2>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>DINING TABLES</h2>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>RECLINERS</h2>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>SOFAS</h2>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>LIGHTING</h2>
        </a>
      </div>
    </li>
  </ul>
</div>
