<header>
    <div class="">
      <div class="container">
        <div class="top-navbar row">
          <div class="col-md-6 col-sm-12 left-nav float-left">

            <div class="search-box">

              <input type="text" class="search-input" placeholder="Search..">

              <button class="search-button">
                <i class="fas fa-search"></i>
              </button>
           </div>
          </div>
          <div class="col-md-6 col-sm-12 right-nav float-right">

            <div class="float-right icons">
              <img src="https://img.icons8.com/windows/32/ffffff/-chair--v1.png" title="Wishlist"/>
              <img src="https://img.icons8.com/android/32/ffffff/user.png" title="Login"/>
            <img src="https://img.icons8.com/material-outlined/32/ffffff/sofa.png" title="Cart"/>
            </div>
            <button class="btn btn-dark float-right">HHY 3AFSHAK?</button>
            <button class="btn btn-info float-right">HOW IT WORK?</button>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">

          <a class="navbar-brand" href="#"><img src="../../../../assets/img/logo/brand.png" target="blank" alt="logo" height="100"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sofas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tables</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Chairs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Storage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Decor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lighting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Outdoor</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
