body{
  overflow-x: hidden;
}
.buy_sell{
  position: fixed;
  z-index: 1;
  right: 0;
  top: 20%;
}
.buy_sell span{
  display: block;
  padding: 8px;
  font-weight: bolder;
  font-family: 'Crimson Text', serif;
  border-radius: 20px 0 0 20px;
  margin-bottom: 5px;
  font-size: 19px;
  cursor: pointer;
}
.buy_sell span:nth-child(1):hover{
  background-image: linear-gradient(to right,#DADADA, #ABB6C8);
  width:100px;
}
.buy_sell span:nth-child(2):hover{
  background-image: linear-gradient(to right,#ABB6C8, #DADADA);
  width:100px;
}
.buy_sell span:nth-child(1){
  background-image: linear-gradient(to right,#5D759B, #F7F0C6);
}
.buy_sell span:nth-child(2){
  background-image: linear-gradient(to right,#F7F0C6, #5D759B);
}
.buy_sell span img{
  margin-right: 3px;
}
@media (min-width: 992px) {
  .banner__slider .slider, .slide {
    height: 100vh;
  }
}

.banner__slider .slide {
  position: relative;
  transition: 1s;
  height: 110vh;
}
.banner__slider .slide .slide__img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 992px) {
  .banner__slider .slide .slide__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.banner__slider .slide .slide__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: all 1s ease;
}
.banner__slider .slide .slide__content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__slider .slide .slide__content.slide__content__left {
  left: 15%;
  transform: translate(-15%, -50%);
}
.banner__slider .slide .slide__content.slide__content__right {
  right: 15%;
  left: auto;
  transform: translate(5%, -50%);
}
.banner__slider .slide .slide__content--headings {
  color: #FFF;
}
.banner__slider .slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
}
.banner__slider .slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}
.banner__slider .slide .slide__content--headings .top-title {
  font-family: "Playball", cursive;
  font-size: 2.5rem;
}
.banner__slider .slide .slide__content--headings .title {
  font-size: 3.5rem;
  font-family: 'Prata', serif
}
.banner__slider .slide .slide__content--headings .button-custom {
  text-decoration: none;
  color: #333;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
}

.banner__slider .slider [data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
  transition: 1s;
}

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
  opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li {
  height: 3px;
  width: 50px;
}
.stick-dots .slick-dots li button {
  position: relative;
  background-color: white;
  opacity: 0.25;
  width: 50px;
  height: 3px;
  padding: 0;
}
.stick-dots .slick-dots li button:hover, .stick-dots .slick-dots li button:focus {
  opacity: 1;
}
.stick-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}

/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
}
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
}
.zoomInImage {
  -webkit-animation-name: zoomInImage;
          animation-name: zoomInImage;
}

@-webkit-keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
  to {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s;
  }
  to {
    transform: scale3d(1, 1, 1);
    transition: 1s;
  }
}
.zoomOutImage {
  -webkit-animation-name: zoomOutImage;
          animation-name: zoomOutImage;
  transition: 1s;
}

.slick-nav {
  --active: #fff;
  --border: rgba(255, 255, 255, .12);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(66% - 44px);
}
.slick-nav.prev-arrow {
  left: 3%;
  transform: scaleX(-1);
  z-index: 999;
}
.slick-nav.next-arrow {
  left: auto;
  right: 3%;
}
.slick-nav i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}
.slick-nav i:before, .slick-nav i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--active);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.slick-nav i:before {
  transform: rotate(-40deg);
}
.slick-nav i:after {
  transform: rotate(40deg);
}
.slick-nav:before, .slick-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
}
.slick-nav svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}
.slick-nav.animate svg {
  -webkit-animation: stroke 1s ease forwards 0.3s;
          animation: stroke 1s ease forwards 0.3s;
}
.slick-nav.animate i {
  -webkit-animation: arrow 1.6s ease forwards;
          animation: arrow 1.6s ease forwards;
}
.slick-nav.animate i:before {
  -webkit-animation: arrowUp 1.6s ease forwards;
          animation: arrowUp 1.6s ease forwards;
}
.slick-nav.animate i:after {
  -webkit-animation: arrowDown 1.6s ease forwards;
          animation: arrowDown 1.6s ease forwards;
}

@-webkit-k
eyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}
@-webkit-keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@-webkit-keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@-webkit-keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
.banner__slider{
  margin-top: -292px;
  z-index: 1;
}
/**********************************************************************************************************/
/***************************************end of home slider*************************************************/
/**********************************************************************************************************/

.hero{
  height: 90vh;
  background: #fff;
  overflow: hidden;
  margin-bottom: -16px;
}
.hero .left{
  padding: 7% 5%;
  position: relative;
  height: 100%;
}
.hero .left h1{
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 2px;
  color: #5D759B;
  text-align: center;
  font-family: 'Prata', serif;
}
.hero .left p{
  color: rgb(109, 107, 107);
  line-height: 2;
  margin: 10px 0 15px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: 'Noto Serif', serif;
}
.hero .left button{
  margin-top: 20px;
  margin-left:40%;
  border-radius: 50px;
  background-image: linear-gradient(to right, #DADADA , #F7F0C6);
  font-weight: 600;
  color: black;
  font-family: 'Abril Fatface', cursive;
}
.hero .left button:hover{
  background-color: #DADADA;
}
.hero .left ul{
  position: absolute;
  bottom: 40px;
  left: 40%;
}
.hero .left ul .active{
  background: #333;
}
.hero .left ul li{
  list-style: none;
  display: inline-block;
  background: #bfbfbf;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.hero .right{
  padding: 0;
  width: 100%;
  height: 90vh;

}
.hero .right img{
  width: 100%;
  height: 100%;
}
.zoom{
  animation: zoomout 0.5s linear 1;
}
@keyframes zoomout{
  0%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

/*--------------------------------------------------------------
#   G E N E R A L   C S S
--------------------------------------------------------------*/
.last-arrival .title{
  text-align: center;
  padding-top: 60px;
  margin-bottom: 30px;
}
.last-arrival .title h1{
  text-transform: uppercase;
  position: relative;
  font-family: 'Crimson Text', serif;
  color: #5D759B;
}
.last-arrival .title h1:after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 46%;
  right: 0;
  border-bottom: 2px solid #ABB6C8;
  border-top: 2px solid #ABB6C8;
  z-index: 1;
  width: 90px;
  font-weight: bolder;
  background-color: white;
  color: black;
  height: 4px;
}
.last-arrival .cards{
  padding: 5px;
}
.last-arrival .d-flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.last-arrival .text-white {
  color: #fff;
}
.last-arrival .w-80 {
  width: 100%;
}
.last-arrival .card {
  display: block;
  margin-bottom: 10px;
  min-height: 461px;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.last-arrival .product {
  margin-bottom: 1.35em;
  padding: 0.8em 0.8em 0.5em;
}
.last-arrival .product img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  border: 1px solid #e0e5ec;
  height: 300px
}
.last-arrival .product img:hover {
  filter: blur(1.5px);
  filter: opacity(85%);
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
.heart{
  width: 30px!important;
  height: 30px!important;
  position: absolute;
  z-index: 1000;
  left: 8%;
  top: 5%;
  cursor: pointer;
}
.last-arrival .product-image {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1em;
}
.last-arrival .price {
  font-size: 1.5rem;
  font-family: 'Abril Fatface', cursive;
}
.last-arrival .cart {
  display: flow-root;
  margin-bottom: 0.3em;
}
.last-arrival .cart h6{
  font-family: 'Abril Fatface', cursive;
}
.last-arrival .cart img{
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.last-arrival .float-left {
  float: left;
}
.last-arrival .float-right {
  float: right;
}
.last-arrival .btn {
  width: 3em;
  height: 3em;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e5ec;
  position: relative;
}
.last-arrival .btn.left {
  margin-left: 1em;
}
.last-arrival .btn::before {
  content: attr(title);
  position: absolute;
  background-color: #000;
  border-radius: 5px;
  min-width: 80px;
  padding: 0.3em;
  display: none;
  z-index: 10;
  top: -2.3em;
}
.last-arrival .btn:hover::before {
  display: block;
}
@media (min-width: 768px) {
  .last-arrival .card {
      width: 100%;
  }
}
/*******************************************************************************************/
.hero2{
  margin-top: -16px;
  margin-bottom: -16px;
  height: 85vh;
}
.hero2 .left{
  padding: 10% 5%;
}
.hero2 .left h1{
  text-align: center;
  margin-top: -55px;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 2px;
}
.hero2 .left p{
  line-height: 3;
}
/**********************************Featured products*****************************************/
.featured .title{
  text-align: center;
  padding-top: 60px;
  margin-bottom: 70px;
}
.featured .title h1{
  position: relative;
  text-transform: uppercase;
  font-family: 'Crimson Text', serif;
  color: #5D759B;
}
.featured .title h1:after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 46%;
  right: 0;
  border-bottom: 2px solid #ABB6C8;
  border-top: 2px solid #ABB6C8;
  z-index: 1;
  width: 90px;
  font-weight: bolder;
  background-color: white;
  color: black;
  height: 4px;
}
/**/
.fcards {
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  margin-bottom: 20px;
  border-radius: 5px;
}
.featured .all div:nth-child(1) .fcards{
  background: url("https://i.pinimg.com/originals/ed/00/4f/ed004fa68d714b5f68a573860d0d8844.jpg") center center;
  background-size: cover;
}
.featured .all div:nth-child(2) .fcards{
  background: url("https://assets.architecturaldigest.in/photos/6008260a3a9d9570bc84112b/4:3/w_1024,h_768,c_limit/Saffronart-Design-Sale-art-deco-Finn-Juhl-Lot-39-featured-1366x768.jpg");
  background-size: cover;
}
.featured .all div:nth-child(3) .fcards{
  background: url("https://www.compeloffice.com/wp-content/uploads/MIA-LOUNGE-SOFA-SADDLE_front45_01-1024x1024.png") center center;
  background-size: cover;
}
.featured .all div:nth-child(4) .fcards{
  background: url("https://cdn.geekwire.com/wp-content/uploads/2017/06/geekchic.jpg") center center;
  background-size: cover;
}
.featured .all div:nth-child(5) .fcards{
  background: url("http://www.archipanic.com/wp-content/uploads/2014/04/BASE_GROUP.jpeg") center center;
  background-size: cover;
}
.featured .all div:nth-child(6) .fcards{
  background: url("https://ec1.ostkcdn.com/img/mxc/06072021-gnp-Desktop_Furniture_Safavieh.jpg?crop=688:688&width=688") center center;
  background-size: cover;
}
.featured .all div:nth-child(7) .fcards{
  background: url("https://cdn.incollect.com/sites/default/files/zoom/Small-Turn-of-the-Century-Drafting-Table-307051-1011229.jpg") center center;
  background-size: cover;
}
.featured .all div:nth-child(8) .fcards{
  background: url("https://static.wixstatic.com/media/66638a_60003cbbe05048bc8397a08d2fede86e~mv2_d_4962_2440_s_4_2.jpg/v1/crop/x_2648,y_216,w_2186,h_2215/fill/w_560,h_664,al_c,q_85,usm_0.66_1.00_0.01/CUBE%20HERO1.webp") center center;
  background-size: cover;
}

.featured .overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: #abb6c8a9;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}

.featured .items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.featured .head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.featured .head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #FEF5DF;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all 0.5s;
}

.featured .price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}
.featured .price .old {
  text-decoration: line-through;
  color: #F7F0C6;
}

.featured .cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}
.featured .cart i {
  font-size: 16px;
}
.featured .cart span {
  margin-left: 10px;
}

.featured .fcards:hover .overlay {
  opacity: 1;
}
.featured .fcards:hover .overlay .head {
  transform: translateY(0px);
}
.featured .fcards:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}
.featured .fcards:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.featured .fcards:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
/*********************************accurated************************************************
.accurated{
  min-height: 100vh;
}
.accurated .title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.accurated .title h1{
  text-transform: uppercase;
  position: relative;
}
.accurated .title h1:after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 45%;
  right: 0;
  border-bottom: 2px solid #1a2628;
  border-top: 2px solid white;
  z-index: 1;
  width: 90px;
  font-weight: bolder;
  background-color: white;
  color: black;
  height: 4px;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  color: #ffffff;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px 5px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 250px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.snip1543 img {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #7a4620;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}
.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}
.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}
.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7a4620;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}
.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}
.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}
.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.snip1543 p {
  font-size: 0.9em;
}
.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}
.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
*/
.offer{
  margin-bottom: 30px;
}
.offer .title{
  text-align: center;
  padding-top: 60px;
  margin-bottom: 70px;
}
.offer .title h1{
  position: relative;
  text-transform: uppercase;
  font-family: 'Crimson Text', serif;
  color: #5D759B;
}
.offer .title h1:after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 46%;
  right: 0;
  border-bottom: 2px solid #ABB6C8;
  border-top: 2px solid #ABB6C8;
  z-index: 1;
  width: 90px;
  font-weight: bolder;
  background-color: white;
  color: black;
  height: 4px;
}
.offercard .slick-prev:before,.offercard .slick-next:before{
  background-color: #5D759B;
  padding: 5px;
  border-radius: 50%;
}
/**/
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

* {
  box-sizing: border-box;
}
.offercard {
  margin: 0 auto;
}
.offercard .d_card {
  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 350px;
  margin-right: 5px;
}
.offercard .d_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.offercard .d_card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}
.offercard .one:before {
  background-image: url(https://images.squarespace-cdn.com/content/v1/5e8bf8ea324a1b5013136b1e/1589510155285-FLHR0L1CQ41XX3WVVYN8/ke17ZwdGBToddI8pDm48kN9YjiUrwu32mlVhJ-GwyQt7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UR1Q8rwileIlKqC9YMBuPLO_DasTRzP_fAfbVJVt7-eQNKEu28rD9AFzTNbT_UZh4Q/Stocksy_txp03330614fHi200_Medium_3011818.jpg);
}
.offercard .two:before {
  background-image: url(https://amdiscountfurniture.com/wp-content/uploads/2020/08/Delivery-Man-2.png);
}
.offercard .three:before {
  background-image: url(https://www.furnitureacademy.com/wp-content/uploads/2018/12/Furniture-Brands-Youll-Love.jpg);
}
.offercard .four:before {
  background-image: url(https://cdn.indesignlive.com/wp-content/uploads/SWEDESE-LimeContinental_0-Landon-Brown-1024x657.jpg);
}
.offercard .five:before {
  background-image: url(https://images.squarespace-cdn.com/content/v1/56aae789a2bab842081a5c03/1540354052534-8W3BHEIGSK9AC621HDE6/ke17ZwdGBToddI8pDm48kG87Sfbgg29A4BYEDq3OXvgUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcf4OxbJOyh_wHUnyc4kQLQ6SBshRGOku7c30Y_IRDNPta8R2IY5BHMaEj1zOWoDTZ/Day+2-1.jpg);
}

.offercard .content {
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.offercard .heading {
  font-size: 2.3rem;
  font-weight: bold;
  position: absolute;
  top: 125%;
  background-color: #5d759b2c;
  text-align: center;
}

.offercard .data-content {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
  .d_card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .offercard .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
  .offercard .content > *:not(.offercard .heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }

  .d_card:hover,
  .d_card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .d_card:hover:before,
  .d_card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .d_card:hover:after,
  .d_card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .d_card:hover .content,
  .d_card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .d_card:hover .content > *:not(.heading),
  .d_card:focus-within .content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .d_card:focus-within:before,
  .d_card:focus-within:after,
  .d_card:focus-within .content,
  .d_card:focus-within .content > *:not(.heading) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

/*************************************sell and buy steps*******************/
.steps{
  min-height: 100vh;
  box-sizing: border-box;
}
.steps .title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.steps .title h1{
  position: relative;
  text-transform: uppercase;
  font-family: 'Crimson Text', serif;
  color: #5D759B;
}
.steps .title h1:after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 46%;
  right: 0;
  border-bottom: 2px solid #ABB6C8;
  border-top: 2px solid #ABB6C8;
  z-index: 1;
  width: 90px;
  font-weight: bolder;
  background-color: white;
  color: black;
  height: 4px;
}
.steps .left{
  box-sizing: border-box;
}
.steps span{
  font-weight: 600;
  font-family: 'Abril Fatface', cursive;
  font-size: 19px;
}
.steps p{
  font-family: 'Cairo', sans-serif;
}
.steps ul{
  padding: 20px 0;

}
.steps .left button{
  position: relative;
  left: 38%;
  bottom: 5%;
  border-radius: 20px;
  background-image: linear-gradient(to right, #DADADA, #ABB6C8, #5D759B);
  font-weight: 700;
  transition: .5s;
}
.steps .left button:hover{
  background-image: linear-gradient(to right, #5D759B , #ABB6C8, #DADADA);
}
.steps .right button{
  position: relative;
  left: 38%;
  bottom: 5%;
  border-radius: 20px;
  background-image: linear-gradient(to right, #DADADA, #ABB6C8, #5D759B);
  font-weight: 700;
  transition: .5s;
}
.steps .right button:hover{
  background-image: linear-gradient(to right, #5D759B , #ABB6C8, #DADADA);
}
.steps .sell{
  background-color: #f0f1f3;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.steps .buy{
  background-color: #f0f1f3;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.steps .sell ul li{
  margin-bottom: 10px;
}
.steps .buy ul li{
  margin-bottom: 20px;
}
